
<div class="hero-unit">
  <h1><span style="color:red;">Swiss</span> Memetracker</h1>
  <p>Welcome to the prototype!</p>
</div>

<div class="row">
  <div class="span12">
    <p>Please be patient, we have to program this sucker first...</p>
  </div>
</div>
